http://www.belmont-stakes.info/field.php
<h1>Smallest and Largest Fields at Belmont Stakes</h1>
<p>There has never been a walkover in the Belmont, but five times - in 1887, 1888, 1892, 1910 and in Man O' War's year, 1920 - there were only two starters. </p>
<p>The largest field ever to compete in the Belmont was 15 in 1983 when Caveat defeated Slew O' Gold by 3 1/2 lengths. The second largest field was 14 in 1875 when Calvin beat Aristides, a stablemate who that year won the inaugural edition of the Kentucky Derby. </p>
<p>In 1996, a field of 14 went to the post with Editor's Note the winner.</p>
