http://www.belmont-stakes.info/firstrace.php
<h1>First Running of the Belmont Stakes</h1>
<p>The first running of the Belmont Stakes took place on Thursday, June 19, 1867 at Jerome Park Racecourse. The conditions included &quot;$200 each; half forfeit, and $1,500 added. The second to receive $300, and an English racing saddle, made by Merry, of St. James' Street, London, to be presented by Mr. Duncan.&quot; Four horses, Ruthless, DeCourcey, Rivoli and Monday, started. The track was heavy and Ruthless, owned by Francis Morris and ridden by jockey Gilpatrick, won the mile and five furlong race in 3:05.</p>
