http://www.belmont-stakes.info/trophy.php
<h1>Belmont Stakes Trophy</h1>
<p>The Belmont Stakes trophy is a Tiffany-made silver bowl, 18 inches high, 15 inches across and 14 inches at the base. </p>
<p>Atop the cover is a silver figure of Fenian, winner of the third running of the Belmont Stakes in 1869. </p>
<p>The bowl is supported by three horses representing the three foundation thoroughbreds -- Eclipse, Herod and Matchem. The trophy, a solid silver bowl originally crafted by Tiffany's, was presented by the Belmont family as a perpetual award for the Belmont Stakes in 1926. It was the trophy August Belmont's Fenian won in 1869 and had remained with the Belmont family since that time. The winning owner is given the option of keeping the trophy for the year their horse reigns as Belmont champion. The owner of the winner of the Belmont Stakes also receives, permanently, a large silver tray with the names of the previous Belmont winners engraved on it. There are also trays for the winning trainer, jockey and exercise rider as well as mementos for the groom.</p>
