http://en.wikipedia.org/wiki/Belmont_Stakes

<h1>Belmont Stakes Traditions</h1>
<p>The Belmont Stakes is called traditionally called &quot;The Test of Champions&quot; or &quot;Run for the Carnations&quot; because the winning horse is blanketed with white carnations. Through 1996, the post-parade song was &quot;Sidewalks of New York.&quot; From 1997 to 2009, the audience was invited to sing the Theme from New York, New York following the call to the &quot;post&quot;. In 2010, the song was Empire State of Mind. This tradition is similar to the singing of the state song at the post parades of the first two Triple Crown races: &quot;My Old Kentucky Home&quot; at the Kentucky Derby and &quot;Maryland, My Maryland&quot; at the Preakness Stakes.</p>
<p>Despite the fact that the Belmont Stakes is the oldest of the Triple Crown races, its traditions have been more subject to change. The switch of theme song from &quot;The Sidewalks of New York&quot; to &quot;New York, New York&quot; was an attempt to appeal to younger fans. That same year the official drink was also changed, from the &quot;White Carnation&quot; to the &quot;Belmont Breeze.&quot; The New York Times reviewed both cocktails unfavorably, calling the Belmont Breeze &quot;a significant improvement over the nigh undrinkable White Carnation&quot; despite the fact that it &quot;tastes like a refined trashcan punch.&quot;</p>
<p>More longstanding traditions are the trophy and blanket of flowers. The winning owner is presented with the silver winner's trophy, designed by Paulding Farnham for Tiffany and Co. It was first presented to a Belmont Stakes winner in 1869 and donated by the Belmont family for annual presentation in 1926. The winning horse is draped with a blanket of white carnations after the race.</p>
