http://www.belmont-stakes.info/belmont-odds.php

<h1>Belmont Stakes Futures</h1>
<p>What is a future wager? For the purpose of the Belmont Stakes, a future wager is when you place a bet on which horse you think will win finish first to win the race.</p>
