http://www.belmont-stakes.info/carnations.php
<h1>Belmont Stakes White Carnation Winner's Blanket</h1>
<p>The white carnation is the traditional flower of the Belmont Stakes. The blanket of carnations worn by the Belmont Stakes winner takes 10 man hours to put together, as between 300-400 carnations are glued onto a green velveteen spread. The flowers must be shipped in from either California or Bogota, Colombia.</p>
