http://www.belmont-stakes.info/attendance.php
<h1>Belmont Stakes Largest Attendance Record</h1>
<p>Recent runnings of the Belmont Stakes have packed Belmont Park with more than 100,000 fans. </p>
<p>The high-water mark was on June 11, 2004 when Smarty Jones was denied the Triple Crown by Birdstone. </p>
<p>A total of 103,222 came on June 8, 2002 to watch War Emblem run for the Triple Crown; he finished eighth, well behind longshot winner Sarava. </p>
<p>And, in 2003, 101,864 watched Funny Cide finish third behind Empire Maker in his bid to win the Triple Crown. Additional high attendance marks: 85,818 in 1999 (Lemon Drop Kid denied Charismatic the Triple Crown); 82,694 in 1971 (Pass Catcher denied Canonero II the Triple Crown); and 80,162 in 1998 (Victory Gallop denied Real Quiet the Triple Crown).</p>
