http://www.belmont-stakes.info/belmont-odds.php

<h1>Belmont Stakes Odds and Lines</h1>
<p>What is the Belmont Stakes if you don't place a bet or two? The best place in the world to bet on the Belmont Stakes is at Belmont Park! If you can't make it to beautiful Belmont Park in person, don't despair.  You can place bets on the Belmont here on your computer! As the Belmont Stakes approaches, you will be able to see the Futures Pools (Betting for the horse that will win the Belmont Stakes outright) and track odds for Win, Place and Show.</p>
