http://www.belmont-stakes.info/smallestpurse.php
<h1>Smallest and Largest Purses wins at Belmont</h1>
<p>The purse for the first running of the Belmont was $1,500 added with a total purse of $2,500. The winner's share that year taken by Francis Morris' filly Ruthless. The lowest winner's share in the history of the Belmont Stakes was the $1,825 earned by The Finn in the 1915 running. The 1992 edition of the Belmont was the richest running with a total purse of $1,764,800.</p>
