http://www.belmont-stakes.info/belmont-betting.php
<h1>Belmont Stakes Betting</h1>
<p>Betting favorites have won about 44% percent of the Belmont Stakes. Odds-on favorites are a less productive 12-for-30 and the last five were defeated. The last odds-on favorite to win the Belmont was the last Triple Crown winner, Affirmed in 1978. Big Brown was favored to win the Belmont Stakes and become a Triple Crown Winner; however, he finished in last place. </p>
<p>The fastest and easiest way to wager on the Belmont Stakes is online.</p>
