from: http://www.preakness-stakes.info/trainers.php
<h1>Trainers</h1>

<p>The following is a list of trainers who have saddled Preakness 
                starters since 1909.<br />
                <br />
D. Wayne Lukas leads the list with 30 starters, all since 1980. 
                Max Hirsch (19), Sunny Jim Fitzsimmons (18), James Rowe (14) and 
                Nick Zito (13) are also in <br />
double digits.<br />
<br />
A<br />
<br />
Abel, A.J.<br />
1944 Gramps Image 4th<br />
Adams, Robert L.<br />
1974 Jolly Johu 4th<br />
Adams, John H.<br />
1977 J. O. Tobin 5th<br />
Adams, W.E. (Smiley)<br />
1977 Run Dusty Run 3rd<br />
1975 Master Derby 1st<br />
Adwell, Paul T.<br />
1976 Elocutionist 1st<br />
Albert, Linda<br />
2004 Water Cannon 10th<br />
Alberts, Nancy<br />
2002 Magic Weisner 2nd<br />
Alexandra, A.E.<br />
1947 Cornish Knight 9th<br />
Alexander, Frank A.<br />
1993 Cherokee Run 2nd<br />
Allen, A. Ferris III<br />
1986 Miracle Wood 5th<br />
Allen, Harold A. (Hank)<br />
1989 Northern Wolf 8th<br />
1985 Sparrowvon 8th<br />
Alonso, Enrique<br />
1996 Tour's Big Red 10th<br />
Alter, Happy<br />
1987 No More Flowers 8th<br />
Amoss, Thomas<br />
1998 Hot Wells 4th<br />
Aquillino, Joseph<br />
1999 Badge 3rd<br />
Arcodia, Antonio<br />
1978 Noon Time Spender 4th<br />
Arias, Juan<br />
1972 Hassi's Image 7th<br />
1971 Canonero II 1st<br />
Arvin, George<br />
1929 Folking 6th<br />
1927 Candy Hog 8th<br />
1927 Crystal Domino 11th<br />
Asmussen, Steven<br />
2002 Easyfromthegitgo 5th<br />
2000 Snuck In 5th<br />
Attfield, Roger<br />
1995 Talkin Man 6th<br />
1992 Alydeed 2nd<br />
Azpurua, Leo<br />
1977 Sir Sir 6th<br />
<br />
B<br />
<br />
Baffert, Bob<br />
2003 Senor Swinger 5th<br />
2002 War Emblem 1st<br />
2001 Point Given 1st<br />
2001 Congaree 3rd<br />
2000 Captain Steve 4th<br />
1999 Excellent Meeting (DNF)<br />
1998 Real Quiet 1st<br />
1997 Silver Charm 1st<br />
1996 Cavonnier 4th<br />
Bailes, W. Meredith (Mert)<br />
1990 J.R.'s Horizon 9th<br />
Battles, Oran<br />
1974 Silver Florin 10th<br />
Ballenger, Glenn<br />
1977 Counter Punch 8th<br />
Bardaro, A.J. (Tony)<br />
1974 Buck's Bid DNF<br />
Barrera, Albert S.<br />
1978 Track Reward 7th<br />
Barrera, Larry S.<br />
1981 A Run 10th<br />
1981 Flying Nashua 12th<br />
Barrera, Lazaro S. (Laz)<br />
1990 Mister Frisky 3rd<br />
1983 Paris Prince 12th<br />
1978 Affirmed 1st<br />
1976 Bold Forbes 3d<br />
1976 Life's Hope 6th<br />
Barrera, Luis<br />
1979 Screen King 3d<br />
Barry, Tom<br />
1962 Vimy Ridge 4th<br />
1960 Celtic Ash 3rd<br />
Bateman, W.<br />
1925 Edisto 7th<br />
Bauer, Julius<br />
1930 Crack Brigade 2nd<br />
Baxter, L.H.<br />
1918 (lst Div.) Orestes 5th<br />
Beall, Robert L.<br />
1968 Martins Jig 8th<br />
Beauchamp, G.<br />
1917 Al. M. Dick. 2nd<br />
Bedwell, H. Guy (Hard Guy)<br />
1938 Sun Egret 5th<br />
1928 Typhoon 7th<br />
1920 King Thrush 4th<br />
1919 Sir Barton 1st<br />
1919 Milkmaid 8th<br />
1918 (1st Div.) Foreground 7th<br />
1914 Brave Cunarder 2nd<br />
Benshoff, Ronald L.<br />
1996 Mixed Count 11th<br />
Bertrando, Angelo<br />
1971 Royal J.D. 7th<br />
Biancone, Patrick<br />
2004 Lion Heart 4th<br />
Birosak, S.<br />
1954 For Free 5th<br />
Blackburn, Robert N.<br />
1963 Country Squire 8th<br />
Blakely, A.G.<br />
1923 Blanc Seing 9th<br />
1912 Bosseau 4th<br />
Bohannan, Thomas<br />
1993 Prairie Bayou 1st<br />
1992 Pine Bluff 1st<br />
Bond, Bernard P. (Bernie)<br />
1964 Big Pete 6th<br />
Bond, J. Bowes<br />
1970 Silent Screen 3rd<br />
Bonde, Jeff<br />
2002 Menacing Dennis 10th<br />
Bonsal, Frank A. (Downie)<br />
1957 Inswept 6th<br />
1955 Saratoga 2nd<br />
1945 The Doge 4th<br />
1943 New Moon 4th<br />
Boniface, J. William<br />
1995 Oliver's Twist 2nd<br />
1984 Pac Soldier 9th<br />
1983 Deputed Testamony 1st<br />
1983 Parfaitement 8th<br />
1981 Escambia Bay 7th<br />
Booth, Willie<br />
1947 Cosmic Bomb 6th<br />
1946 Tidy Bid 10th<br />
1945 Adonis 8th<br />
1941 Kansas 5th<br />
1928 Petee-Wrack 17th<br />
Borosh, Allen<br />
1997 Cryp Too 9th<br />
Bougan, Tracey<br />
1970 Robin's Bug 11th<br />
Boyce, Larry (Champagne Larry)<br />
1970 Hark The Lark 12th<br />
Boyle, R.V.<br />
1917 Cherry Ripe 10th<br />
Bray, F.M.<br />
1922 Rebuke 12th<br />
Brennan, W.<br />
1936 Memory Book 6th<br />
1932 Curacao 8th<br />
Brent, Arthur<br />
1946 Wee Admiral 8th<br />
Bringloe, W.H.<br />
1931 Soll Gills 7th<br />
1928 Solace 3rd<br />
1927 Sir Harry 2nd<br />
Brooks, W.H.<br />
1922 Hea 2nd<br />
1918 (2nd Div) The Porter 2nd<br />
1911 Dr. Duenner 5th<br />
1911 Joe Kenyon 7th<br />
Brothers, Frank L.<br />
1992 Hansel 1st<br />
1989 Dansil 4th<br />
Brown, F.E.<br />
1922 Hephaistos 8th<br />
Buford, Will<br />
1925 Almadel 3rd<br />
Burch, J. Elliott<br />
1972 Key To The Mint 3rd<br />
1969 Arts and Letters 2nd<br />
1964 Quadrangle 4th<br />
1959 Sword Dancer 2nd<br />
Burch Preston M.<br />
1951 Bold 1st<br />
1937 Matey 6th<br />
1936 Jean Bart 3rd<br />
1935 Firethorn 2nd<br />
1935 Commonwealth 5th<br />
1932 Boatswain 3rd<br />
1923 General Thatcher 2nd<br />
1910 Martinez 7th<br />
Burch, Selby<br />
1936 Transporter 4th<br />
Burlew, Fred<br />
1924 Thorndale 9th<br />
1923 Better Luck 7th<br />
Burrows, Walter<br />
1938 Cravat 2nd<br />
Burttschell, J.O.<br />
1926 Timmara 12th<br />
Burttschell, W.A.<br />
1917 Fruit Cake 4th<br />
1916 Phil Ungar 7th<br />
Butler, J. S.<br />
1930 Michigan Boy 4th<br />
1928 Friar's Hope 14th<br />
Byrne, Patrick<br />
1998 Black Cash 5th<br />
<br />
C<br />
<br />
Callejas, Alfredo<br />
1997 Hoxie 7th<br />
1997 Jack At The Bank 10th<br />
1996 Secreto de Estado 9th<br />
1995 Pana Brass 10th<br />
1993 El Bakan 3rd<br />
Calvert, Melvin (Sunshine)<br />
1967 In Reality 2nd<br />
Cameron G. D. (Don)<br />
1943 Count Fleet 1st<br />
Campo, John P.<br />
1981 Pleasant Colony 1st<br />
1977 Hey Hey J.P. 7th<br />
1976 Play The Red 2nd<br />
1975 Just the Time 9th<br />
1975 Media 10th<br />
1973 Torsion 6th<br />
1972 Eager Exchange 6th<br />
1971 Jim French 2rd<br />
Campo, Salvatore<br />
1984 Raja's Shark 8th<br />
Campbell, Gordon C.<br />
1979 Flying Paster 4th<br />
Capuano, Gary<br />
2003 Cherokee's Boy 8th<br />
1997 Captain Bodgit 3rd<br />
Carman, R.F.<br />
1916 Achievement 3rd<br />
Carroll, Charles W.<br />
1928 Sun Beau 5th<br />
Carroll, Del W.<br />
1972 Bee Bee Bee 1st<br />
1969 Greengrass Greene 6th<br />
Casey, C.J.<br />
1922 Oil Man 9th<br />
Casey, Robert M.<br />
1968 Dancer's Image 3rd<br />
(Disq. and placed 8th)<br />
Catrone, Frank<br />
1965 Lucky Debonair 7th<br />
1942 Valdina Orphan 7th<br />
Chapman, Carl F.<br />
1977 Regal Sir 9th<br />
Christmas, Edward A.<br />
1943 Vincentive 3rd<br />
Ciresa, Martin<br />
2004 Little Matth Man 8th<br />
Clark, Henry S.<br />
1982 Linkage 2nd<br />
1947 Bullet Proof 8th<br />
Clarke, C.<br />
1937 Pompoon 2nd<br />
Clelland, Odie<br />
1956 Come On Red 7th<br />
Cofer, Riley S.<br />
1980 Jaklin Klugman 4th<br />
Coffman, Eldon<br />
1970 Oh Fudge 14th<br />
Collins Gin<br />
1965 Swift Ruler 5th<br />
Combs, Don<br />
1970 Dust Commander 9th<br />
Congdon, W.H.<br />
1910 St. Regis 8th<br />
Considine, Joseph P.<br />
1966 Exceedingly 7th<br />
Conston, K.<br />
1919 Drummond 9th<br />
Conway, George<br />
1937 War Admiral 1st<br />
1932 War Hero 5th<br />
1930 Full Dress 10th<br />
1926 Dress Parade 4th<br />
Conway, James P.<br />
1969 Captain Action 7th<br />
1963 Chateaugay 2nd<br />
1958 Talent Show 6th<br />
1953 Tahitian King 6th<br />
Cordero, Angel, Jr.<br />
1996 Feather Box 12th<br />
Cornell, Reginald (Reggie)<br />
1971 Eastern Fleet 2nd<br />
1959 Royal Orbit 1st<br />
1958 Silky Sullivan 8th<br />
Cox, Edgar D.<br />
1959 Sundown II 11th<br />
Creevy, J.<br />
1940 Your Chance 4th<br />
Cremen, Ambrose<br />
1983 Flag Admiral 10th<br />
Croll, Warren A. Jr., (Jimmy)<br />
1987 Bet Twice 2nd<br />
1969 Al Hattab 5th<br />
Cross, David C. Jr.<br />
1998 Classic Cat 3rd<br />
1983 Sunny's Halo 6th<br />
Crowell, Howard<br />
1986 Groovy 6th<br />
Cunningham, E.<br />
1916 Curragh'leen 8th<br />
Curran R.F.<br />
1950 Balkan 6th<br />
<br />
D<br />
<br />
Dabson, Hilton A. (Rabbit)<br />
1955 Nance's Lad 4th<br />
Daly, M.<br />
1919 Routledge 6th<br />
Day, James E.<br />
1988 Regal Classic 6th<br />
Delp, Grover G. (Bud)<br />
1979 Spectacular Bid 1st<br />
1973 Ecole Etage 4th<br />
Devers, F.<br />
1915 Rhine Maiden 1st<br />
Dickey, Charles L.<br />
1984 Wind Flyer 6th<br />
Dixon, Elbert R.<br />
1992 Careful Gesture 9th<br />
Dixon, Morris<br />
1945 Polynesian 1st<br />
Dixon, William H.<br />
1972 Festive Mood 5th<br />
Donovan, William L.<br />
1992 Dash For Dotty 8th<br />
Doyle, Michael J.<br />
1993 Wild Gale 8th<br />
Doyle, A. Thomas (Tommy)<br />
1975 Avatar 5th<br />
Drysdale, Neil D.<br />
2000 Fusaichi Pegasus 2nd<br />
Duffy, J.<br />
1911 The Nigger 3rd<br />
1910 Dixie Knight 9th<br />
Duke, William<br />
1925 Coventry 1st<br />
Dunleavy, M.J.<br />
1926 Light Carbine 5th<br />
Dunn, Tom W.<br />
1962 Green Hornet 6th<br />
1953 Correspondent 7th<br />
1952 Arroz 7th<br />
Dunne, Albert (Spec)<br />
1946 Marine Victory 9th<br />
1945 Bobanet 9th<br />
1944 Gay Bit 5th<br />
Durso, Robert<br />
1997 Frisk Me Now 5th<br />
Dutrow, Richard E.<br />
1998 Spartan Cat<br />
Dwyer, P. F.<br />
1940 Andy K. 5th<br />
1940 Sun Pharos 7th<br />
<br />
E<br />
<br />
Edwards J.<br />
1915 Runes 3rd<br />
Edwards, William Jr. (Herbie)<br />
1971 Spouting Horn 10th<br />
Evans, J.<br />
1922 June Grass 3rd<br />
<br />
F<br />
<br />
Fanning, Jerry<br />
1983 Desert Wine 2nd<br />
Feustel, Louis<br />
1920 Man O' War 1st<br />
1912 Tipsand 3rd<br />
Finnegan, William B.<br />
1964 Hill Rise 3rd<br />
Fishback, Aubrey A.<br />
1954 Nirgal Lad 9th<br />
Fitzgerald, E.L. (Lying Fitz)<br />
1934 Riskulus 7th<br />
Fitzsimmons, James E. (Sunny Jim)<br />
1961 Hitting Away 6th<br />
1957 Bold Ruler 1st<br />
1955 Nashua 1st<br />
1942 Apachee 9th<br />
1941 King Cole 2nd<br />
1939 Johnstown 5th<br />
1939 Gilded Knight 2nd<br />
1938 Fighting Fox 7th<br />
1936 Granville 2nd<br />
1936 Teufel 9th<br />
1935 Omaha 1st<br />
1930 Gallant Fox 1st<br />
1928 Distraction 9th<br />
1929 Yurucari 10th<br />
1921 Copper Demon 7th<br />
1921 Sunny Jim 10th<br />
1915 Volant 6th<br />
1909 Hill Top 3rd<br />
Fletcher, Arthur<br />
1942 Fair Call 6th<br />
Fontaine, Hugh<br />
1956 Needles 2nd<br />
Forrest, Henry<br />
1968 Forward Pass 1st<br />
1966 Kauai King 1st<br />
Frankel, Robert<br />
2003 Peace Rules 4th<br />
2002 Medaglia D'Oro 8th<br />
1975 Native Guest 7th<br />
Frazier, R. C.<br />
1995 Itron 11th<br />
Frisbie, F.C.<br />
1909 Effendi 1st<br />
<br />
G<br />
<br />
Gardner, F.E.<br />
1909 Statesman DNF<br />
Garrett, F.<br />
1933 Silent Shot 9th<br />
Garth, J. Woods<br />
1970 Buzkashi 10th<br />
Garth, William (Uncle Billy)<br />
1929 Grey Coat 7th<br />
1924 Nautical 14th<br />
1923 Martingale 10th<br />
1920 Blazes 6th<br />
1917 Nebraska 7th<br />
1917 The Belgian II 13th<br />
1914 The Governor 4th<br />
Gaudet, Dean<br />
1992 Speakerphone 14th<br />
Garson, A. (Jule)<br />
1915 Half Rock 2nd<br />
Gaver, John M. Sr.<br />
1951 Hall of Fame 5th<br />
1951 Big Stretch 6th<br />
1949 Capot 1st<br />
1944 Stir Up 3rd<br />
1942 Shut Out 5th<br />
1942 Devil Diver 8th<br />
Gaver, John M. Jr.<br />
1981 Woodchopper 11th<br />
Gentry, Charles<br />
1945 Darby Dieppe 3d<br />
Gentry, Lloyd (Boo)<br />
1967 Proud Clarion 3d<br />
Gleaves, Phillip<br />
1987 Phantom Jet 6th<br />
Gordon, Albert B.<br />
1928 Oh Say 16th<br />
1926 Banton 13th<br />
1925 Swope 12th<br />
1924 Nellie Morse 1st<br />
Goldsborough, Andrew Jackson<br />
1939 Volitant 3d<br />
1918 (2nd Div.) Recount 6th<br />
1913 Cadeau 5th<br />
Gonzalez, J. Paco<br />
1991 Maine Minister 3d<br />
1997 Free House, 2nd<br />
Glass, Oris, J., Jr.<br />
1993 Rockamundo 7th<br />
Graffagnini, C.<br />
1929 Minotaur 2nd<br />
Greely, C. Beau<br />
2004 Borrego 7th<br />
Gross, Mel W.<br />
1978 Dax S. 6thH<br />
<br />
H<br />
<br />
Hackman, Joseph<br />
1968 Wood-Pro 10th<br />
Hadry, Charles H.<br />
1988 Finder's Choice 9th<br />
1988 Private Terms 4th<br />
Handy, George R.<br />
1981 Paristo 3d<br />
Handlen, Richard E. (Dick)<br />
1946 Hampden 3rd<br />
1938 Dauber 1st Harlan, L.P.<br />
1935 Brannon 6th<br />
Harlan, Scott P.<br />
1930 Armageddon 8th<br />
1928 Bateau 8th<br />
1927 Scapa Flow 5th<br />
1926 Mars 3rd<br />
1922 Pirate Gold 4th<br />
1922 Galantman 5th<br />
Hassinger, Alex<br />
1999 Patience Game 5th<br />
Hastie, James R.<br />
1952 Primate 4th<br />
Hayes. J. Homer (Casey)<br />
1959 First Landing 9th<br />
1950 Hill Prince 1st<br />
Hayes, T.P.<br />
1933 Head Play 1st<br />
Hayward, Eddie<br />
1953 Dark Star 5th<br />
Hayward, W.<br />
1917 Cadillac 6th<br />
Headley, Duval A.<br />
1938 Menow 3rd<br />
1936 Hollyrood 5th<br />
Healey, John A. (Jack)<br />
1945 Alexis 7th<br />
Healey, J.S.<br />
1921 Quecreek 11th<br />
1914 Holiday 1st<br />
1914 Spearhead 5th<br />
1914 Humiliation 6th<br />
1911 Heatherbroom 6th<br />
1910 Layminister 1st<br />
1910 Medallion 11th<br />
Healey, Thomas J.<br />
1929 African 3rd<br />
1929 Dr. Freeland 1st<br />
1927 Black Panther 4th<br />
1926 Display 1st<br />
1923 Tall Timber 5th<br />
1923 Vigil 1st<br />
1922 Pillory 1st<br />
Healy, James W. (Big Jim)<br />
1937 Flying Scot 3rd<br />
1933 Poppyman 8th<br />
1931 Mate 1st<br />
Hechter, James W.<br />
1958 Michore 11th<br />
Heil, Nancy B.<br />
1990 Fighting Notion 5th<br />
Henderson, S.M.<br />
1930 Woodcraft 7th<br />
1928 Bobashela 13th<br />
Hennig, Mark<br />
2004 Eddington 3rd<br />
1993 Personal Hope 4th<br />
Hewitt, J.<br />
1920 St. Allan 8th<br />
Hildreth, Samuel C.<br />
1928 Nassak 11th<br />
1926 Nichavo 9th<br />
1924 Mad Play 3rd<br />
1924 Bracadale 13th<br />
1914 Defendom 3rd<br />
1911 Zeus 2nd<br />
Hine, Hubert (Sonny)<br />
1996 Skip Away 2nd<br />
1992 Technology 6th<br />
1988 Sorry About That 8th<br />
1985 Skip Trial 9th<br />
1983 Bet Big 7th<br />
1976 Cojak 4th<br />
Hirsch, Max<br />
1968 Out Of The Way 2nd<br />
1966 Indulto 5th<br />
1950 Middleground<br />
1949 Curandero 6th<br />
1948 Better Self 4th<br />
1947 Contest 10th<br />
1946 Assault 1st<br />
1941 Dispose 6th<br />
1940 Dit 9th<br />
1937 Mosawtre 4th<br />
1936 Bold Venture 1st<br />
1932 Tick On 2nd<br />
1932 Gusto 6th<br />
1931 Clock Tower 5th<br />
1928 Penalo 6th<br />
1928 Sortie 12th<br />
1920 On Watch 7th<br />
1920 Donnacona 5th<br />
1915 Norse King 5th<br />
Hirsch, W.J. (Buddy)<br />
1939 Ciencia 6th<br />
Hodgins, Jack C.<br />
1952 Sub Fleet 5th<br />
Hofmans, David<br />
1997 Touch Gold, 4th<br />
Hogan, John<br />
1919 Vulcanite 7th<br />
Hollendorfer, Jerry<br />
2002 USS Tinosa 6th<br />
Hopkins, Fred<br />
1931 Equipoise 4th<br />
1927 Whiskery 3rd<br />
1927 Bostonian 1st<br />
1926 Color Sergeant 7th<br />
Horvath, Karl<br />
1952 Handsome Teddy 9th<br />
Hough, Stanley M.<br />
1982 Reinvested 6th<br />
Howard, Jack<br />
1941 Curious Coin 7th<br />
Howard, Neil J<br />
2003 Midway Road 2nd<br />
1990 Summer Squall 1st<br />
Hurley, William (Bill)<br />
1940 Bimelech 1st<br />
1936 Bow and Arrow 8th<br />
1935 Boxthorn 8th<br />
1926 Bagenbaggage 8th<br />
1917 Kalitan 1st<br />
<br />
I<br />
<br />
Inzelone, Joseph F.<br />
1955 Honey's Alibi 5th<br />
<br />
J<br />
<br />
Jacobs, Eugene<br />
1982 Cut Away 3rd<br />
1967 Favorable Turn 9th<br />
1958 Martins Rullah 10th<br />
Jacobs, Hirsch<br />
1967 Reason To Hail 4th<br />
1961 Dr. Miller 4th<br />
1957 Promised Land 4th<br />
1949 Palestinian 2nd<br />
1944 Stymie 6th<br />
Jacobs, John William<br />
1970 High Echelon 4th<br />
1970 Personality 1st<br />
1966 Understanding 8th<br />
1965 Flag Raiser 9th<br />
1959 Our Dad 6th<br />
Jackson, Monty<br />
1985 Hajji's Treasure DNF<br />
Jansen, Albert<br />
1951 Repetoire 8th<br />
Jansen, J. (Whitey)<br />
1952 Gushing Oil 6th<br />
Jennings, Lawrence W. Sr.<br />
1974 Neapolitan Way 2nd<br />
Jennings, W. B.<br />
1918 (lst Div.) War Cloud 1st<br />
Johnson, Phil G.<br />
1970 Naskra 5th<br />
Johnson, Joe<br />
1929 Essare 8th<br />
Johnson, J.<br />
1924 Sting 11th<br />
Johnson, Judy<br />
1968 Sir Beau 7th<br />
Jolley, LeRoy<br />
1992 Conte Di Savoya 13th<br />
1987 Gulch 4th<br />
1980 Genuine Risk 2nd<br />
1979 General Assembly 5th<br />
1976 Honest Pleasure 5th<br />
1975 Foolish Pleasure 2nd<br />
1962 Ridan 2nd<br />
Jolley, Moody<br />
1959 Dunce 3rd<br />
1952 Armageddon 10th<br />
1940 Royal Man 8th<br />
Jolley, Tom<br />
1958 Plion 4th<br />
Jones, Ben A. (Plain Ben)<br />
1944 Pensive 1st<br />
1942 Sun Again 2nd (DH)<br />
1941 Whirlaway 1st<br />
Jones, Horace A. (Jimmy)<br />
1958 Tim Tam 1st<br />
1957 Iron Liege 2nd<br />
1956 Fabius 1st<br />
1949 Ponder 5th<br />
1948 Citation 1st<br />
1947 Faultless 1st<br />
Jones, J.P. (Doc)<br />
1949 Noble Impulse 2rd<br />
1941 Ocean Blue 8th<br />
1938 Hypocrite 8th<br />
Jones, Martin<br />
2000 Hugh Hefner 6th<br />
Jordan, James<br />
1963 On My Honor 7th<br />
Jory, Ian P.<br />
1991 Best Pal 5th<br />
Joyner, Andrew Jackson<br />
1918 (lst Div) Lanius 3rd<br />
Judge, Steve<br />
1941 Our Boots 3d<br />
<br />
K<br />
<br />
Kahlbaum, M.<br />
1952 Jampol 2nd<br />
Kaiser, Peter<br />
1963 Lemon Twist 4th<br />
Karrick, W.H.<br />
1923 Hobgoblin 6th<br />
1919 Sweep On 3rd<br />
1919 Over There 5th<br />
1909 Fashion Plate 2nd<br />
Kassen, David C.<br />
1987 Avie Copy 5th<br />
Kearns, Frank J.<br />
1938 Bull Lea 6th<br />
Keen, Dallas<br />
1999 Valhol 9th<br />
Kelley, George<br />
1936 Knight Warrior 10th<br />
Kelley, M. C.<br />
1912 Jeannette B. 5th<br />
Kelley, W. A.<br />
1943 Blue Swords 2nd<br />
Kelly, Ed. I.<br />
1950 Kinsman 5th<br />
Kelly, Patrick J.<br />
1982 Laser Light 5th<br />
Kelly, Thomas J.<br />
1980 Colonel Moran 3rd<br />
1974 Heir to the Line 6th<br />
1971 Limit to Reason 11th<br />
1962 Sunrise County 5th<br />
1961 Globemaster 2nd<br />
1954 Ring King 6th<br />
Kercheval, Ralph<br />
1966 Rehabilitate 4th<br />
King, Everett W.<br />
1981 Bare Knuckles 8th<br />
Kousin, Jack<br />
1984 S.S. Hot Sauce 10th<br />
Krnjaich, George<br />
1981 Double Sonic 9th<br />
Kuykendall, Everett W.<br />
1959 Festival King 5th<br />
<br />
L<br />
<br />
Lamoureux, Abelard<br />
1956 Ratheram 8th<br />
1956 Fleet Peet 9th<br />
Larrick, H.B.<br />
1916 King Neptune 9th<br />
Laurin, Lucien<br />
1973 Secretariat 1st<br />
1972 Riva Ridge 4th<br />
1969 Jay Ray 3rd<br />
1966 Amberoid 3rd<br />
Laurin, Roger<br />
1985 Chief's Crown 2nd<br />
Lawson, Lloyd A.<br />
1956 Count Chic 5th<br />
Leatherbury, King T.<br />
1985 I Am The Game 4th<br />
1981 Thirty Eight Paces 4th<br />
1978 Indigo Star 5th<br />
Lenzini, John J. Jr.<br />
1985 Eternal Prince 3rd<br />
1982 Aloma's Ruler 1st<br />
Lear, Les<br />
1965 Needle's Count 8th<br />
Leary, David J.<br />
1923 Zev 12th<br />
Lepman, Budd<br />
1963 Sky Wonder 5th<br />
Levine, Bruce<br />
1993 Koluctoo Jimmy Al 10th<br />
Lewis, Lisa<br />
2003 Kissin Saint 10th<br />
Lewis, Penny<br />
1993 Hegar 9th<br />
Lilly, Marshall<br />
1934 Spy Hill 5th<br />
Livingston, W.<br />
1918 (1st Div) Mary Maud 6th<br />
1913 Flabbergast 7th<br />
Loftus, J.<br />
1924 Feanza 12th<br />
1924 Apprehension 15th<br />
Longden, John<br />
1969 Majestic Prince 1st<br />
Lord, Gerald<br />
1971 Sound Off 4th<br />
Lowe, J.<br />
1929 Leucite 9th<br />
Luro, Horatio (Senor)<br />
1964 Northern Dancer 1st<br />
1962 Decideedly 8th<br />
1960 Victoria Park 2nd<br />
1947 Secnav 7th<br />
Lukas, D. Wayne<br />
2003 Scrimshaw 3rd<br />
2003 Ten Cents A Shine 9th<br />
2002 Proud Citizen 3rd<br />
2002 Table Limit 11th<br />
2000 High Yield 7th<br />
1999 Charismatic 1st<br />
1999 Cat Thief 7th<br />
1998 Baquero 7th<br />
1998 Cape Town 9th<br />
1996 Editor's Note 3rd<br />
1996 Victory Speech 5th<br />
1996 Prince of Thieves 7th<br />
1995 Timber Country 1st<br />
1995 Thunder Gulch 3rd<br />
1994 Tabasco Cat 1st<br />
1993 Union City DNF<br />
1992 Dance Floor 4th<br />
1992 Big Sur 11th<br />
1991 Corporate Report 2nd<br />
1990 Kentucky Jazz 7th<br />
1990 Land Rush 6th<br />
1989 Houston 6th<br />
1988 Winning Colors 3rd<br />
1987 Lookinforthebigone 7th<br />
1986 Clear Choice 7th<br />
1986 Badger Land 4th<br />
1985 Tank's Prospect 1st<br />
1983 Marfa 4th<br />
1981 Partez 5th<br />
1980 Codex 1st<br />
<br />
M<br />
<br />
Manning, Dennis J.<br />
1983 Common Sense 9th<br />
Manzi, William<br />
1958 Chance It Tony 9th<br />
Marks, Mervyn (Magoo)<br />
1985 Cutlass Reality 5th<br />
1983 Chas Conerly 11th<br />
Mara, V.G.<br />
1942 Colchis 4th<br />
Marlman, C.B.<br />
1916 Greenwood 2nd<br />
Marshall, H.<br />
1915 Hauberk 4th<br />
Martin, Frank (Pancho)<br />
1974 Rube the Great 9th<br />
1973 Sham 2nd<br />
1959 Manassa Mauler 8th<br />
Martin, Sidney<br />
1975 Diabolo 3rd<br />
Martin, W.M.<br />
1918 (lst Div) Sunny Slope<br />
1913 Kleburne 2nd<br />
Martin, W.<br />
1913 Cogs 6th<br />
McAnally, Ronald<br />
1991 Olympio 4th<br />
1989 Hawkster 5th<br />
1982 Water Bank 7th<br />
McCormack J.<br />
1919 Dunboyne 11th<br />
McDaniel, Henry (Uncle Henry)<br />
1922 Spanish Maize 7th<br />
1921 Star Voter 9th<br />
McGaughey, Claude (Shug)<br />
1989 Easy Goer 2nd<br />
1984 Pine Circle 5th<br />
McGee, James (Jimmy)<br />
1955 Go Lightly 8th<br />
McCoole, J.H. (Blackie)<br />
1942 Requested 2nd dh<br />
McCoy, L.<br />
1939 Impound 4th<br />
McCreery, T.H.<br />
1930 Gold Brook 5th<br />
1930 Tetrarchal 11th<br />
McLaughlin, J.<br />
1910 Fauntleroy 12th<br />
1909 Arondack 6th<br />
McLaughlin, Kiaran<br />
1996 Allied Forces 8th<br />
McManus, Frank J.<br />
1970 My Dad George 2nd<br />
McNaughton, Sandy<br />
1918 (lst Div) George Starr 10th<br />
McPeek, Ken<br />
2002 Harlan's Holiday 4th<br />
1995 Tejano Run 9th<br />
Medina, Angel M.<br />
1992 Fortune's Gone 10th<br />
1992 My Luck Runs North 12th<br />
Mergler, Joseph<br />
1970 Stop Time 7th<br />
Metcalf, Raymond<br />
1969 Top Knight 4th<br />
1965 Native Charger 4th<br />
1959 Open View 10th<br />
Midgely, W.R.<br />
1921 Touch Me Not 6th<br />
1918 (2nd Div) Nepperhan 5th<br />
1917 Jock Scot 11th<br />
Miller, Mackenzie (Mack)<br />
1993 Sea Hero 5th<br />
1968 Jig Time 6th<br />
Mihadi, Steve<br />
1990 Music Prospector 4th<br />
Moore, E.<br />
1912 Stairs DNF /fell<br />
Moran, T.<br />
1925 Gold Stick 6th<br />
Morris, H.J.<br />
1913 Scallywag 4th<br />
Morse, Randy<br />
1999 Torrid Sand 11th<br />
Motion, H. Graham<br />
2002 Equality 13th<br />
2001 Bay Eagle 8th<br />
Mott, William I (Billy)<br />
1984 Taylor's Special 4th<br />
Mulhall, Kristin<br />
2004 Imperialism 5th<br />
Mulholland, Wilbert (Bert)<br />
1962 Jaipur 10th<br />
1951 Knowitall 7th<br />
1944 Platter 2nd<br />
Mulholland, William F.<br />
1938 Bull Whip 9th<br />
Murray, Larry<br />
2003 Foufa's Warrior 7th<br />
Murray, Lloyd<br />
1961 Nashua Blue 7th<br />
Murphy, J.<br />
1917 Nashville 8th<br />
Murphy, James W.<br />
1980 Knight Landing 7th<br />
Musante, F.<br />
1909 Siskin 5th<br />
<br />
N<br />
<br />
Nafzger, Carl<br />
1999 Vicar 10th<br />
1990 Unbridled 2nd<br />
Neal, A.<br />
1918 (2nd Div) Kate Bright 3rd<br />
Neloy, Edward A.<br />
1967 Great Power 10th<br />
1966 Stupendous 2nd<br />
1954 Jet Action 8th<br />
Notter, Joseph<br />
1933 Kerry Patch 6th<br />
1929 The Nut 4th<br />
<br />
O<br />
<br />
Odom, George M. (Maje)<br />
1951 Timely Reward 4th<br />
1925 Voltaic 8th<br />
1919 King Plaudit 4th<br />
1909 Traveller 4th<br />
Oliver, W. L.<br />
1916 Ed Bond 6th<br />
Orman, Jason<br />
2004 Rock Hard Ten 2nd<br />
Orseno, Joseph<br />
2000 Red Bullet 1st<br />
<br />
P<br />
<br />
Padgett, James A<br />
1966 Blue Skyer 9th<br />
Paley, Herb<br />
1962 Flying Johnnie 9th<br />
Pardue, Homer C.<br />
1972 No Le Hace 2nd<br />
Parisella, John<br />
1984 Fight Over 3d<br />
Parke, Burley<br />
1964 Roman Brother 5th<br />
Parke, Charles R.<br />
1961 Crozier 3rd<br />
Parke, Ivan H.<br />
1958 Jewel's Reward 7th<br />
1958 Liberty Ruler 12th<br />
1945 Hoop Jr. 2nd<br />
Parker, Paul<br />
1960 T.V. Lark 6th<br />
Partridge, J.B.<br />
1953 Jamie K. 2nd<br />
Patterson, Kimball<br />
1921 Leonardo II 4th<br />
1921 Bon Homme 8th<br />
1919 Eternal 2nd<br />
Pearce, Ross R.<br />
1985 Southern Sultan 7th<br />
Pedersen, Jennifer<br />
2004 Song of the Sword 9th<br />
2003 New York Hero 6th<br />
2001 Griffinite 5th<br />
Perlswig, Daniel<br />
1985 Sport Jet 10th<br />
Penna, Angel Sr.<br />
1971 Bold Reason 5th<br />
Penrod, J.<br />
1951 Alerted 3d<br />
Peoples, Charles<br />
1990 Baron de Vaux 8th<br />
1987 Harriman 9th<br />
Perkins, Ben, Jr.<br />
2001 Richly Blended 10th<br />
1993 Woods of Windsor 6th<br />
Phelan, E.<br />
1913 Lohengrin 8th<br />
Phillips, Clyde<br />
1927 Saxon 7th<br />
1926 Navigator 11th<br />
Phillips, G.E.<br />
1935 Mantagna 4th<br />
Philpot, Graceton<br />
1942 Domingo 10th<br />
Piarulli, Joseph<br />
1959 Rico Tesio 7th<br />
Pierce, Joseph H. Sr.<br />
1958 Noureddin 5th<br />
Pitt, H. James<br />
1960 Ballyache 1st<br />
Pletcher, Todd<br />
2000 Impeachment 3rd<br />
Poole, George<br />
1971 Impetuosity 9th<br />
Potter, Gordon<br />
1963 Rural Retreat 6th<br />
1962 Crimson Satan 7th<br />
1961 Crimson Fury 9th<br />
Potts, R.E.<br />
1936 Grand Slam 11th<br />
Powers, J.<br />
1910 Sager 3rd<br />
Presgrave, William F. (Captain)<br />
1912 Bwana Tumbo 2nd<br />
1910 Dalhousie 2nd<br />
1910 Busy 6th<br />
Price, Jack A.<br />
1961 Carry Back 1st<br />
Pryce, Jack R.<br />
1932 Mad Pursuit 4th<br />
1931 Ladder 3rd<br />
1930 Snow Flake 3rd<br />
1930 Swinfield 9th<br />
<br />
R<br />
<br />
Raines, Virgil W. (Buddy)<br />
1962 Greek Money 1st<br />
Rash, Rodney<br />
1994 Powis Castle 9th<br />
1991 Honor Grades 8th<br />
Reese, Cynthia G.<br />
1996 In Contention 6th<br />
Reilly, P.<br />
1949 Old Rockport 8th<br />
Reinstedler, Tony<br />
2001 Percy Hope 9th<br />
Resseguet, William J. Sr.<br />
1961 Orleans Doge 8th<br />
Resseguet, William J. Jr.<br />
1973 Our Native 3d<br />
Rettele, Loren<br />
1979 Golden Act 2nd<br />
Riddle, Henry C.<br />
1932 Lucky Tom 9th<br />
1927 Justice F. 9th<br />
Rieser, Milton<br />
1957 Federal Hill 7th<br />
Ritchey, Tim<br />
2005 Afleet Alex 1st<br />
2001 Marciano 7th<br />
Rites, Harry<br />
1932 Daisaburo 7th<br />
1926 Canter 6th<br />
1925 Single Foot 9th<br />
1921 Jeg 3rd<br />
1921 Polly Ann 2nd<br />
1917 Fox Trot 14th<br />
1912 Jingo 6th<br />
Ross, Chester<br />
1957 Nah Hiss 5th<br />
Roussel, Louie J. III<br />
1994 Kandaly 4th<br />
1988 Risen Star 1st<br />
Rowan, J. (Jimmy)<br />
1949 Taran 9th<br />
1948 Bovard 3rd<br />
Rigione, John<br />
1974 Kin Run 5th<br />
Riley, Shelley L.<br />
1992 Casual Lies 3d<br />
Robb, John J. (Jerry)<br />
1989 Pulverizing 7th<br />
Robertson, A.G.<br />
1956 Eiffel Blue 6th<br />
Robertson, Hugh<br />
1994 Polar Expedition 10th<br />
Robinson, James W. Jr.<br />
1980 Lucky Pluck 8th<br />
Robinson, Lester R.<br />
1959 Marauder 4th<br />
Rodrock T.<br />
1949 Sun Bahram 4th<br />
Rofe, Jean L.<br />
1998 Silver's Prospect 10th<br />
Romero, Jorge<br />
1998 Basic Trainee 8th<br />
Rondinello, Thomas L. (Lou)<br />
1983 High Honors 3rd<br />
1975 Prince Thou Art 4th<br />
1974 Little Current 1st<br />
Root, Thomas Jr.<br />
1977 Iron Constitution 2nd<br />
Rose, Harold<br />
2000 Hal's Hope 8th<br />
Rowe, James Jr.<br />
1931 Twenty Grand 2nd<br />
1931 Surf Board 6th<br />
1929 Beacon Hill 5th<br />
1928 Victorian 1st<br />
1925 Chantey 4th<br />
Rowe, James Sr.<br />
1926 Blondin 2nd<br />
1925 Backbone 2nd<br />
1924 Transmute 2nd<br />
1923 Chickvale 4th<br />
1923 Rialto 3rd<br />
1923 Barbary Bush 8th<br />
1921 Tryster 5th<br />
1921 Broomspun 1st<br />
1920 Wildair 3rd<br />
1920 Upset 2nd<br />
1919 Vindex 12th<br />
1918 (1st Div) Flags 8th<br />
1918 (lst Div) Johren 4th<br />
1917 Tumbler 9th<br />
Russell, John W.<br />
1975 Singh 6th<br />
Rutchick, Sol<br />
1952 Count Flame 8th<br />
<br />
S<br />
<br />
Salt, E.J.<br />
1930 Sweet Sentiment 6th<br />
Sande, Earl<br />
1929 Hermitage 11th<br />
Sarner, J. J. Jr. (Buddy)<br />
1953 Ram O' War 4th<br />
Schaefer, Louis J.<br />
1940 Pictor 6th<br />
1939 Challedon 1st<br />
Schilling, Carroll Hugh<br />
1924 Revenue Agent 5th<br />
1924 Sun Flag 7th<br />
1923 Goshawk 13th<br />
Schulhofer, Flint S. (Scotty)<br />
1987 Cryptoclearance 3d<br />
Scully, W.O.<br />
1910 Reybourn 5th<br />
Schorr, John F.<br />
1928 Toro 2nd<br />
1924 Modest 10th<br />
1921 Lough Storm 13th<br />
Seacrest, Randy<br />
1971 Vegas Vic 8th<br />
Servis, John<br />
2004 Smarty Jones 1st<br />
Shannon, T. J.<br />
1917 Kentucky Boy 3rd<br />
1916 Eddie Henry 4th<br />
Shapoff, Stanley (Skip)<br />
1974 Hudson County 8th<br />
Shaw, Charles W.<br />
1946 Lovemenow 7th<br />
Shea, W. A.<br />
1937 Merry Maker 7th<br />
Simpson, James P.<br />
1977 Cormorant 4th<br />
1967 Misty Cloud 5th<br />
Sims, Monti S. Sr.<br />
1974 Destroyer 11th<br />
Simmons, A.<br />
1919 Vindex DNF<br />
Sinnott, J.<br />
1916 Col. Gutelius 5th<br />
Sonnier, James B. (Bert)<br />
1968 Nodouble 4th<br />
Sovinski, Victor J.<br />
1960 Venetian Way 5th<br />
1958 Lincoln Road 2nd<br />
Speck, Gordon<br />
1980 Bing 5th<br />
Spence, Kay<br />
1922 Miss Joy 10th<br />
1922 St. Henry 11th<br />
Skinner, James L.<br />
1968 Yankee Lad 5th<br />
Skirvin, John H. (Jack)<br />
1946 Alamond 5th<br />
1944 Alorter 7th<br />
Small, Richard<br />
1994 Concern 3rd<br />
1994 Looming 7th<br />
1986 Broad Brush 3rd<br />
Smith, James W.<br />
1946 Knockdown 4th<br />
1946 Lord Boswell 2nd<br />
Smith, J. I.<br />
1923 Sally's Alley 11th<br />
Smith, Jere R.<br />
1967 Ask the Fare 7th<br />
Smith, J. P. (Sammy)<br />
1924 Donaghee 4th<br />
Smith, Ken P.<br />
1994 Silver Goblin 8th<br />
Smith, M.<br />
1921 Mythology 14th<br />
Smith, Robert A. (Whistling Bob)<br />
1935 Psychic Bid 3rd<br />
1934 High Quest 1st<br />
1934 Calvacade 2nd<br />
1933 Inlander 5th<br />
1929 Soul of Honor 10th<br />
1928 Strolling Player 4th<br />
1925 By Hisself 5th<br />
Smith, Tom (Silent Tom)<br />
1949 Model Cadet 7th<br />
1947 Jet Pilot 4th<br />
1941 Porter's Cap 4th<br />
1940 Mioland 2nd<br />
Steele, Hal Jr.<br />
1967 Barbs Delight 6th<br />
Stephens, Woodford Cefis (Woody)<br />
1988 Cefis 5th<br />
1988 Forty Niner 7th<br />
1984 Swale 7th<br />
1978 Believe It 3rd<br />
1974 Cannonade 3rd<br />
1963 Never Bend 3rd<br />
1955 Traffic Judge 3rd<br />
1954 Goyamo 4th<br />
1952 Blue Man 1st<br />
Stewart, Dallas<br />
2001 Dollar Bill 4th<br />
1999 Kimberlite Pipe 8th<br />
Storm, W.<br />
1909 Grania 8th<br />
Stotler, J. H. (Bud)<br />
1945 Sea Swallow 6th<br />
1934 Discovery 3rd<br />
1933 Ladysman 2nd<br />
1933 Pomponius 4th<br />
1928 Don Q.10th<br />
1926 Rock Man 10th<br />
1922 Champlain 6th<br />
Strate, George H.<br />
1934 Agrarian 4th<br />
Stute, Melvin F.<br />
1986 Snow Chief 1st<br />
Suroor, Saheed Bin<br />
1999 Worldly Manner 12th<br />
Susini, Walter J.<br />
1955 Fleet Path 6th<br />
Swenke, August (Sarge)<br />
1942 Alsab 1st<br />
<br />
T<br />
<br />
Tagg, Barclay<br />
2003 Funny Cide 1st<br />
Tammaro, John J. III<br />
1997 Concerto 6th<br />
Tappan, George (Fish)<br />
1933 De Valera 7th<br />
1933 Utopian 3d<br />
Taylor, J.T.<br />
1938 Can't Wait 4th<br />
1936 He Did 7th<br />
Tenney, Meshach A.<br />
1970 Plenty Old 13th<br />
1964 The Scoundrel 2nd<br />
1963 Candy Spots 1st<br />
Theall, John B.<br />
1954 Gigantic 11th<br />
1937 Jewell Dorsett 8th<br />
Threewitt, Noble<br />
1954 Correlation 2nd<br />
Thompson, Herbert John (Derby Dick)<br />
1933 Brokers Tip 10th<br />
1932 Burgoo King 1st<br />
1927 Buddy Bauer 12th<br />
Tinker, Harold (Baldy)<br />
1974 J. R.'s Pet 7th<br />
Tompkins, G.R.<br />
1928 Brooms 18th<br />
1925 Maid at Arms 11th<br />
1924 Big Blaze 8th<br />
Tortora, Emanuel (&quot;Manny&quot;)<br />
1995 Mecke 5th<br />
Travis, F. C.<br />
1934 Time Supply 6th<br />
Troutt, Clyde<br />
1966 Advocator 6th<br />
1953 Royal Bay Gem 3rd<br />
Trotsek, Harry<br />
1954 Hasty Road 1st<br />
Turk, Clyde<br />
1947 On Trust 2nd<br />
Turner, William H. Jr. (Billy)<br />
1984 Play On 2nd<br />
1977 Seattle Slew 1st<br />
<br />
U<br />
<br />
Utz, C.<br />
1927 Fair Star 6th<br />
<br />
V<br />
<br />
Van Berg, Jack Charles<br />
1994 Blumin Affair 6th<br />
1987 Alysheba 1st<br />
1984 Gate Dancer 1st<br />
1982 Bold Style 4th<br />
1981 Bold Ego 2nd<br />
Vanier, Harvey L.<br />
1983 Play Fellow 5th<br />
1970 Admiral's Shield 8th<br />
Veitch, John M.<br />
1988 Brian's Time 2nd<br />
1978 Alydar 2nd<br />
Veitch, Sylvester E. (Syl)<br />
1951 Counterpoint 2nd<br />
1950 Dooly 3rd<br />
1950 Mr. Trouble 4th<br />
1948 Vulcan's Forge 2nd<br />
1947 Phalanx 3d<br />
Viator, Dwight<br />
1981 Top Avenger 13th<br />
Von Hamel, D.R.<br />
1995 Our Gatsby 7th<br />
<br />
W<br />
<br />
Wahler, Charles<br />
1974 All Game 12th<br />
1968 Ringmaster 9th<br />
Waggoner, Richard T.<br />
1956 No Regrets 3d<br />
Walden, Elliott<br />
2001 Mr. John 11th<br />
1999 Menifee 2nd<br />
1998 Victory Gallop 2nd<br />
Walden, Robert J.<br />
1924 Rustic 6th<br />
1918 (lst Div) Quietude 9th<br />
1917 Piraeus 5th<br />
Waldron, Roy<br />
1940 Gallahadion 3d<br />
1925 Prince of Bourbon 10th<br />
Walker, W.S.<br />
1910 G.M. Miller 10th<br />
Waller, Tom<br />
1962 Prego 11th<br />
Ward, John<br />
2002 Booklet 13th<br />
2001 Monarchos 6th<br />
Watkins, R. E.<br />
1913 Barnegat 3rd<br />
Watters, Sidney Jr.<br />
1989 Rock Point 3rd<br />
Wayland, Eugene<br />
1921 Careful 12th<br />
Weipert, John J. Jr. (Jack)<br />
1957 Inside Tract 3d<br />
Weir, F.D.<br />
1918 (2nd Div) Jack Hare, Jr. 1st<br />
Wells, Howard<br />
1954 Hasseyampa 3d<br />
Welsh, T.<br />
1918 (2nd Div) Trompe La Mort<br />
Wesselman, Richard<br />
1969 Glad's Flame 8th<br />
Weston, Albert G.<br />
1927 Jopagan 10th<br />
1920 Fairway 9th<br />
1917 Hyannis 12th<br />
1916 Damrosch 1st<br />
Whalen, J.<br />
1913 Buskin 1st<br />
1911 Watervale 1st<br />
1911 Footprint 4th<br />
1910 Starbottle 4th<br />
Wheeler, Robert L.<br />
1970 Sir Wiggle 6th<br />
White, Oscar<br />
1952 One Count 3rd<br />
1946 Natchez 6th<br />
1945 Pavot 5th<br />
White, Raymond<br />
1947 King Bay 11th<br />
Whiteley, David<br />
1981 Highland Blade, 6th<br />
Whiteley, Frank Y. Jr.<br />
1967 Celtic Air 8th<br />
1967 Damascus 1st<br />
1965 Tom Rolfe 1st<br />
Whiting, Lynn<br />
1992 Lil E Tee 5th<br />
Whittingham, Charles (Bald Eagle)<br />
1994 Numerous 5th<br />
1989 Sunday Silence 1st<br />
1986 Ferdinand 2nd<br />
1960 Divine Comedy 4th<br />
1958 Gone Fishin' 3d<br />
Whittingham, Michael<br />
1991 Whadjathink 7th<br />
Williams, B. B. (Bert)<br />
1947 Riskolater 5th<br />
1937 Over the Top 5th<br />
1935 Nellie Flag 7th<br />
Williams, H.W.<br />
1954 Galdar 7th<br />
Williams, William G.<br />
1956 Golf Ace 4th<br />
Winfrey, William C.<br />
1965 Dapper Dan 2nd<br />
1953 Native Dancer 1st<br />
Winslow, D.T.<br />
1909 The Gardener 9th<br />
1909 San Souci II 7th<br />
Woodford, D.<br />
1912 Colonel Holloway 1st<br />
Worcester, H. E. III (Buzz)<br />
1973 Deadly Dream 5th<br />
Wozneski, John<br />
1955 Sticks 7th<br />
Wright, Vester R. (Tennessee)<br />
1962 Roman Line 3rd<br />
Wyatt, Euall,Sr.<br />
1954 Admiral Porter 10th<br />
Wyble, Fred<br />
1975 Bold Chapeau 8th<br />
<br />
Y<br />
<br />
York, Keith<br />
1985 Tajawa 6th<br />
Young, Harold<br />
1965 Seleri 6th<br />
1961 Sherluck 5th<br />
Yowell, Edward<br />
1971 Executioner 6th<br />
1965 Hail to All 3rd<br />
<br />
Z<br />
<br />
Zito, Nicholas P.<br />
2004 Sir Shackleton 6th<br />
2002 Crimson Hero 7th<br />
2002 Straight Gin 9th<br />
2001 AP Valentine 2nd<br />
1999 Stephen Got Even 4th<br />
1999 Adonis 6th<br />
1997 Wild Tempest 8th<br />
1996 Louis Quatorze 1st<br />
1995 Star Standard 4th<br />
1994 Go For Gin 2nd<br />
1993 Too Wild 11th<br />
1992 Agincourt 7th<br />
1991 Strike the Gold 6th<br />
Zouck, Judith H.<br />
1980 Samoyed 6th</p>
