http://en.wikipedia.org/wiki/Kentucky_Derby

<h1>Kentucky Derby Traditions</h1>
<p>In addition to the race itself, a number of traditions play a large role in the Derby atmosphere. The Mint Julep, an iced drink consisting of bourbon, mint and a sugar syrup is the traditional beverage of the race. The historic drink can be served in an ice-frosted silver julep cup but most Churchill Downs patrons sip theirs from souvenir glasses (first offered in 1939 and available in revised form each year since) printed with all previous Derby winners. Also, burgoo, a thick stew of beef, chicken, pork and vegetables, is a popular Kentucky dish served at the Derby.</p>
<p>The infield, a spectator area inside the track, offers general admission prices but little chance of seeing much of the race. Instead, revelers show up in the infield to party with abandon. By contrast, &quot;Millionaire's Row&quot; refers to the expensive box seats that attract the rich, the famous and the well-connected. Women appear in fine outfits lavishly accessorized with large, elaborate hats. As the horses are paraded before the grandstands, the University of Louisville Marching Band plays Stephen Foster's &quot;My Old Kentucky Home,&quot; a tradition which began in 1924. </p>
<p>The Derby is frequently referred to as &quot;The Run for the Roses,&quot; because a lush blanket of 554 red roses is awarded to the Kentucky Derby winner each year. The tradition originated in 1883 when New York socialite E. Berry Wall presented roses to ladies at a post-Derby party that was attended by Churchill Downs founder and president, Col. M. Lewis Clark. This gesture is believed to have eventually led Clark to the idea of making the rose the race's official flower. However, it was not until 1896 that any recorded account referred to roses being draped on the Derby winner. The Governor of Kentucky awards the garland and the trophy. Pop vocalist Dan Fogelberg composed the song &quot;Run for the Roses&quot; which was released in time for the 1982 running of the race.</p>
