http://www.kentuckyderby.info/twinspires.php
<h1>Kentucky Derby - Twin Spires </h1>
<p>Throughout the world, the Twin Spires are a recognized landmark that has become symbolic to Churchill Downs and &quot;the greatest two minutes in sports&quot;, the Kentucky Derby. </p>
<p>Constructed in 1895, the Spires were the creation of a twenty-four-year-old draftsman, Joseph Dominic Baldez, who was asked to draw the plans for Churchill Downs' new Grandstand. Originally the plans did not include the Spires, but as the young Baldez continued work on his design, he felt the structure needed something to give it a striking appearance. </p>
<p>Described as towers in the original drawing, the hexagonal spires exemplify late nineteenth century architecture, in which symmetry and balance took precedence over function. Although Baldez designed many other structures in Louisville, the Twin Spires remain as an everlasting monument to the architect. </p>
<p>Former Churchill Downs President Matt J. Winn is reported to have told Baldez, &quot;Joe when you die there's one monument that will never be taken down, the Twin Spires.&quot; </p>
<p>Baldez died in 1957, but a century after they were built, his Twin Spires continue to greet the winner of the Kentucky Derby and stand as a familiar beacon to horse racing enthusiasts everywhere.</p>
